---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---


<Layout>
  <div class="relative min-h-screen bg-white text-gray-900">
   
    
  
    
    <!-- Main Content -->
    <main class="pt-16 px-4">
      <div class="container mx-auto">
      <div class='flex items-center justify-center'>
<h1 class='text-2xl font-light mb-8'>Welcome to the best <span class='text-blue-500'>Roblox cheats </span> </h1>
      </div>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
          <!-- Card Component -->
          <Card title="FIGHT4FRUIT" reward="20 minutes of 2x Experience" />
          <Card title="NOEXPLOITER" reward="20 minutes of 2x Experience" />
          <Card title="fudd10" reward="MoneyIcon 1" />
          <Card title="fudd10_V2" reward="2 DOLLAR" />
          <Card title="Chandler" reward="MoneyIcon 0" />
          <Card title="BigNews" reward="An in-game title 'BIGNEWS' (Title can only be applied in the Second Sea or the Third Sea, but you can enter the code while in First Sea)" />
          <Card title="KITT_RESET" reward="Free Stat Reset" />
          <Card title="Sub2UncleKizaru" reward="Free Stat Reset" />
          <Card title="SUB2GAMERROBOT_RESET1" reward="Free Stat Reset" />
          <Card title="Sub2Fer999" reward="21 minutes of 2x Experience" />
          <Card title="Enyu_is_Pro" reward="20 minutes of 2x Experience" />
          <Card title="JCWK" reward="20 minutes of 2x Experience" />
          <Card title="StarcodeHEO" reward="20 minutes of 2x Experience" />
          <Card title="MagicBUS" reward="20 minutes of 2x Experience" />
          <Card title="KittGaming" reward="20 minutes of 2x Experience" />
          <Card title="Sub2CaptainMaui" reward="20 minutes of 2x Experience" />
          <Card title="Sub2OfficialNoobie" reward="20 minutes of 2x Experience" />
          <Card title="TheGreatAce" reward="20 minutes of 2x Experience" />
          <Card title="Sub2NoobMaster123" reward="20 minutes of 2x Experience" />
          <Card title="Sub2Daigrock" reward="20 minutes of 2x Experience" />
          <Card title="Axiore" reward="20 minutes of 2x Experience" />
          <Card title="StrawHatMaine" reward="20 minutes of 2x Experience" />
          <Card title="TantaiGaming" reward="20 Minutes of 2x Experience" />
          <Card title="Bluxxy" reward="20 minutes of 2x Experience" />
          <Card title="SUB2GAMERROBOT_EXP1" reward="31 minutes of 2x Experience" />
        </div>
      </div>
    </main>
  </div>
</Layout>
