---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class='min-h-screen bg-white flex items-center justify-center mt-4'>
    <!-- Image as a Button -->
    <div class='flex flex-col gap-4'>
      <a href="/blade-ball" class="block">
        <img src='https://progameguides.com/wp-content/uploads/2023/09/Featured-5-Blade-Ball-Tips-Tricks-Roblox.jpg?w=900' alt='Blade Ball Tips & Tricks' class='w-full max-w-md rounded-lg hover:shadow-lg transition-shadow duration-300 ease-in-out' />
      </a>
      <a href="/murder-mystery" class="block">
        <img src="https://resource.supercheats.com/library/640w/2021/1623740296murdermystery2logo.jpg" alt="Murder Mystery 2" class='w-full max-w-md rounded-lg hover:shadow-lg transition-shadow duration-300 ease-in-out' />
      </a>
    </div>
  </div>
</Layout>

